.add{
    background: rgb(0, 223, 56);
      color: #fff;
      font-weight: 600;
      border: 1px solid
      rgb(0, 223, 56);
      padding: 3px 23px;
      border-radius: 4px;
      margin-top: 7px;
}